/* Radio Serpentine Backup Website */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
  width:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
	::selection{ /* Safari and Opera */  
    background:#275eec;  
    color:#FFF;
}  
    ::-moz-selection{ /* Firefox */  
    background:#275eec;  
    color:#FFF;  
}
a {
	color:inherit;
	text-decoration: none;
}
p {
	font-style: Normal;
	font-weight: 100;
    line-height: 30px;
    font-size: 18px;
}
p a {
	text-decoration:underline;
}
.back_link {
	background-image:url('back.png');
	background-repeat:no-repeat;
	padding-left:45px;
	padding-bottom:10px;
	margin-top:40px;
	line-height: 30px;
	font-family: 'GT-Walsheim-Regular', sans-serif;
}
.back_link:hover {
	background-image:url('back_hover.png');
	opacity:0.4;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
body {
	background-color:#141414;
	color:#FFF;
	padding:0;
	height: 100%;
	margin:0;
}
html {
	height: 100%;
}
h1 {
	font-size:50px;
	color:#fafafa;
}
h2 {
	font-size:24px;
	line-height:32px;
	margin-top:30px;
}
#container {
	width:70%;
	max-width:1300px;
	margin:0 auto;
	padding:50px;
}
#header {
	border-bottom:1px solid #343434;
	padding:20px;
	background-color:#141414;
}
#header img {
	width:200px;
	 display: block;
    margin-left: auto;
    margin-right: auto;
}
.hero_header {
	width: 100vw;
    height: 100vh;
    background-color: #292828;
    background-image:url('cover.jpg');
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-size: cover;
}
.hero_header:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,rgba(20,20,20,0),rgba(20,20,20,1) 90%);
    width: 100%;
    height: 500px;
}
/* End of Soundcloud custom player */
@media only screen and (max-width: 800px) {
	/* responsive mobile layout */ 

#header {
	padding:10px;
}
#container {
	width:90%;
	max-width:1300px;
	margin:0 auto;
	padding:20px;
}